pro-train/.deps
pro-train/mr_pro_map
pro-train/mr_pro_reduce
utils/reconstruct_weights
decoder/.libs
training/augment_grammar
training/mpi_batch_optimize
training/mpi_compute_cllh
training/mpi_em_optimize
training/mpi_extract_features
training/mpi_extract_reachable
klm/lm/build_binary
extools/extractor_monolingual
gi/pf/.deps
gi/pf/brat
gi/pf/cbgi
gi/pf/dpnaive
gi/pf/itg
gi/pf/libpf.a
gi/pf/pfbrat
gi/pf/pfdist
gi/pf/pfnaive
gi/markov_al/.deps
gi/markov_al/ml
gi/posterior-regularisation/prjava/lib/*.jar
klm/lm/libklm.a
klm/util/.deps
klm/util/libklm_util.a
mteval/.deps/
tests/system_tests/hmm/foo.src
training/cllh_filter_grammar
klm/lm/.deps
mteval/fast_score
mteval/libmteval.a
mteval/mbr_kbest
training/mpi_online_optimize
utils/.deps/
utils/libutils.a
*swp
*.o
vest/sentserver
vest/sentclient
gi/pyp-topics/src/contexts_lexer.cc
config.guess
config.sub
libtool
ltmain.sh
config.h.in~
decoder/ff_test
decoder/grammar_test
decoder/hg_test
decoder/parser_test
decoder/small_vector_test
decoder/rule_lexer.cc
training/atools
training/collapse_weights
training/lbfgs_test
training/mr_optimize_reduce
training/mr_em_adapted_reduce
training/mr_em_map_adapter
training/mr_reduce_to_weights
training/optimize_test
training/plftools
vest/fast_score
vest/lo_test
vest/mr_vest_map
vest/mr_vest_reduce
vest/scorer_test
vest/union_forests
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
extools/.deps/
extools/*.o
extools/extractor
extools/mr_stripe_rule_reduce
decoder/.deps/
decoder/*.o
decoder/Makefile
decoder/Makefile.in
decoder/cdec
decoder/dict_test
decoder/libcdec.a
decoder/trule_test
decoder/weights_test
stamp-h1
training/.deps/
training/Makefile
training/Makefile.in
training/*.o
training/grammar_convert
training/model1
vest/.deps/
vest/Makefile
vest/Makefile.in
vest/mr_vest_generate_mapper_input
vest/*.o
decoder/logval_test
extools/build_lexical_translation
extools/filter_grammar
extools/score_grammar
gi/clda/src/.deps/
gi/clda/src/clda
gi/clda/src/clda.o
gi/pyp-topics/src/.deps/
gi/pyp-topics/src/corpus.o
gi/pyp-topics/src/gammadist.o
gi/pyp-topics/src/gzstream.o
gi/pyp-topics/src/mt19937ar.o
gi/pyp-topics/src/pyp-topics-train
gi/pyp-topics/src/pyp-topics.o
gi/pyp-topics/src/train.o
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
vest/mbr_kbest
extools/featurize_grammar
extools/filter_score_grammar
gi/posterior-regularisation/prjava/build/
gi/posterior-regularisation/prjava/lib/prjava-20100713.jar
gi/posterior-regularisation/prjava/prjava.jar
gi/pyp-topics/src/pyp-contexts-train
extools/sg_lexer.cc
gi/posterior-regularisation/prjava/lib/prjava-20100715.jar
*.log
*.bbl
*.aux
*.blg
*.idx
*.pdf
*.dvi
*.ps
*.toc
*~
