config.h.in~
src/ff_test
src/grammar_test
src/hg_test
src/parser_test
src/small_vector_test
training/atools
training/collapse_weights
training/lbfgs_test
training/mr_em_train
training/mr_optimize_reduce
training/optimize_test
training/plftools
vest/fast_score
vest/lo_test
vest/mr_vest_map
vest/mr_vest_reduce
vest/scorer_test
vest/union_forests
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/*.o
src/Makefile
src/Makefile.in
src/cdec
src/dict_test
src/libhg.a
src/trule_test
src/weights_test
stamp-h1
training/.deps/
training/Makefile
training/Makefile.in
training/*.o
training/grammar_convert
training/model1
vest/.deps/
vest/Makefile
vest/Makefile.in
vest/mr_vest_generate_mapper_input
vest/*.o

