config.guess
config.sub
libtool
ltmain.sh
config.h.in~
decoder/ff_test
decoder/grammar_test
decoder/hg_test
decoder/parser_test
decoder/small_vector_test
decoder/rule_lexer.cc
training/atools
training/collapse_weights
training/lbfgs_test
training/mr_optimize_reduce
training/mr_em_adapted_reduce
training/mr_em_map_adapter
training/mr_reduce_to_weights
training/optimize_test
training/plftools
vest/fast_score
vest/lo_test
vest/mr_vest_map
vest/mr_vest_reduce
vest/scorer_test
vest/union_forests
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
extools/.deps/
extools/*.o
extools/extractor
extools/mr_stripe_rule_reduce
decoder/.deps/
decoder/*.o
decoder/Makefile
decoder/Makefile.in
decoder/cdec
decoder/dict_test
decoder/libcdec.a
decoder/trule_test
decoder/weights_test
stamp-h1
training/.deps/
training/Makefile
training/Makefile.in
training/*.o
training/grammar_convert
training/model1
vest/.deps/
vest/Makefile
vest/Makefile.in
vest/mr_vest_generate_mapper_input
vest/*.o

